.page {
  font-size: 25px;
  width: 540px;
  height: auto;
  z-index: 15;
  margin: 30px auto;
  text-align: center;
  font-family: Arial, Verdana, sans-serif;
}

.github-logo {
  width: 35px;
  height: 35px;
  margin-top: 20px; 
  -webkit-animation:spin 1.5s linear infinite;
  -moz-animation:spin 1.5s linear infinite;
  animation:spin 1.5s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform:rotate(360deg);
  }
}

.greetings {
  display: block;
  margin-bottom: 20px;
}
