.page {
  font-size: 25px;
  width: 540px;
  height: auto;
  z-index: 15;
  margin: 30px auto;
  text-align: center;
  font-family: Arial, Verdana, sans-serif;
}

.github-logo {
  width: 35px;
  height: 35px;
  margin-top: 20px; 
}

button {
  background: #f8f8f8;
  border: 1px solid grey;
  color: deepskyblue;
  cursor: pointer;
}
